.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-grid {
    display: grid;
    grid-template-columns: repeat(8, auto);
}

@media (max-width: 768px) {
    .display-grid {
        grid-template-columns: repeat(2, auto);
    }
}

.margin-top-32 {
    margin-top: 32px;
}