.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// MARGINS

.margin-top-32 {
    margin-top: 32px;
}

@media (max-width: 768px) {
    .margin-top-32 {
        margin-top: 54px;
    }
}

//DISPLAY GRID DENTRO COMPONENTES (SWEET, SALTY, ACTIVITIES)
.display-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 920px) {
    .display-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .display-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

//DISPLAY GRID DAS IMAGENS DENTRO COMPONENTES (SUSPIROS, COOKIES, ETC.)

.display-grid-pic {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 920px) {
    .display-grid-pic {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .display-grid-pic {
        grid-template-columns: repeat(2, 1fr);
    }
}