.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

// MARGINS

.margin-top-32 {
    margin-top: 32px;
}

//DISPLAY GRID DENTRO COMPONENTES (SWEET, SALTY, AVTIVITIES)
.display-grid {
    display: grid;
    grid-template-columns: repeat(8, auto);
}

@media (max-width: 768px) {
    .display-grid {
        grid-template-columns: repeat(2, auto);
    }
}

//DISPLAY GRID DAS IMAGENS DENTRO COMPONENTES (SUSPIROS, COOKIES, ETC.)

.display-grid-pic {
    display: grid;
    grid-template-columns: repeat(8, auto);
}

@media (max-width: 768px) {
    .display-grid-pic {
        grid-template-columns: repeat(3, auto);
    }
}